@use '../../global.scss' as c;

.btn {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 5px;
	cursor: pointer;
	background-color: transparent;
	border: none;

	.icon {
		display: block;
		width: 3px;
		height: 3px;
		background-color: c.$gray;
		border-radius: 50%;
	}

	.dropdown {
		position: absolute;
		top: 0;
		right: 0;
		background-color: c.$white;
		border: 1px solid c.$gray;
		border-radius: 5px;
		z-index: 1000;

		.dropdownItem {
			padding: 10px;
			cursor: pointer;
			background-color: transparent;
			transition: background-color 0.3s ease-in-out;

			&:hover {
				background-color: c.$gray;
			}
		}
	}
}
