$gray: #898290;
$white: #fff;
$blue: #4ab6e8;
$purple: #aa6fac;
$pink: #e85498;
$orange: #fc440f;
$green: #00cc99;

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

a {
	color: inherit;
	text-decoration: none;
}

ul {
	list-style: none;
}
